* {
    color: white;
}

body {
    text-align: center;
    background-color: rgb(102, 95, 83);
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

picture {
    margin-bottom: 1rem;
}

img[data-src] {
    filter: blur(.5em);
}

img {
    filter: blur(0em);
    transition: filter .5s;
    max-width: 100%;
    height: auto;
}