* {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
}
html {
    background-color: #dfd0bf;
}
body {
    background-color: #dfd0bf;
    margin: 0 auto;
    max-width: 750px;
}
header {
    background-color: #a46633;
    padding: 1em;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px auto;
}
footer {
    text-align: center;
    background-color: #a46633;
    padding: 1em;
}
div {
    display: inline;
}
.purpose {
    grid-column: 1 / 3;
}
h2 {
    background: #686C63;
    text-align: center;
    margin: 0;
    padding: 10px;
}
nav a {
    display: block;
    padding: 2.5px;
}
nav a:hover{
    background-color: #ffffff;
    color: #000000;
}
nav {
    background-color: #686C63;
    margin: 0 auto;
    border: 2px solid #686C63
}
.nav-logo {
    max-width: 200px;
}
footer a:hover {
    color: black;
}
section a:hover {
    color: black;
}
img {
    padding: 1em;
}
footer a {
    color: #ffffff;
}
section {
    background-color: #a46633;
    color: #ffffff;
    text-align: center;
    font-size: medium;
}