* {
    color: #ffffff;
}
h1, h2, h3, header {
    font-family: 'Playfair Display', serif;
}
a, p, li, ol, ul, nav {
    font-family: 'Work Sans', sans-serif;
}
html {
    background-color: #dfd0bf;
}
body {
    background-color: #dfd0bf;
    margin: 0 auto;
    max-width: 750px;
}
header {
    background-color: #a46633;
    padding-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px auto;
}
footer {
    text-align: center;
    background-color: #a46633;
    padding: 1em;
}
div {
    display: inline;
}
.site-wide {
    grid-column: 1 / 3;
}
h2 {
    background: #686C63;
    text-align: center;
    margin: 0;
    padding: 10px;
}
h3 {
    font-size: x-large;
    padding-top: 1em;
}
nav a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover{
    background-color: #ffffff;
    color: #000000;
}
nav {
    background-color: #686C63;
    margin: 0 auto;
    border: 1px solid #686C63;
}
.nav-logo {
    max-width: 200px;
}
footer a:hover {
    color: black;
}
section a:hover {
    color: black;
}
img{
    max-width: 100%;
}
.logo {
    width: 234px;
    height: 113px;
    padding: 1em;
}
.audience {
    padding: 1em;
    width: 480px;
    height: 320px;
    max-width: 100%;
    margin-top: -30px;
}
footer a {
    color: #ffffff;
}
section {
    background-color: #a46633;
    color: #ffffff;
    text-align: center;
    font-size: medium;
    padding: 1em;
}
li {
    text-align: left;
    margin-top: 1em;
}
.color-scheme {
    border: 2px solid #000000;
    width: 600px;
    height: 400px;
    max-width: 100%;
    padding: 0px;
}