* {
    text-align: center;
    max-width: 750px;
    margin: 10px auto;
}
body {
    background-color: lightgrey;
}
img {
    border: 2px solid black;
}
main {
    background-color: white;
}
h2.heading {
    font-family: 'Poppins', sans-serif;
}
h2.paragraph {
    font-family: 'Roboto', sans-serif;
}