@media only screen and (min-width: 600px) {

    #banner {
        font-size: 1.2rem;
    }

    header {
        grid-template-columns:  120px auto 80px 40px;
    }
    
    header .social img {
        width: 35px;
    }

    h1 {
        font-size: 40px;
        padding-left: 15px;
    }

    #currentDate {
        font-size: 1.4rem;
    }
        
    #smtitle {
        font-size: 21px;
    }
    
    nav ul li a {
    padding: .3rem .6rem;
    }
    
    .boxes {
        grid-template-columns: 60% 40%;
    }
    /* med layout */
    .hero {
        grid-column: 1/3;
    }
    
    .event {
        grid-row: 5/6;
    }
    
    .weather {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: 1fr 1fr;
    }
    .address {
        padding-left: 100px;
    }

    /* footer */
    .lower {
        grid-template-columns:  150px 1fr 1fr;
        padding: 15px 40px 10px 40px;
        align-items: center;
    }
    .web {
        text-align: right;
    }

    /* discover page */
    .gallery-page {
        grid-template-rows: 90px 1fr auto;
        grid-template-columns: 475px 1fr;
    }
    .gallery {
        grid-column: 1/2;
        grid-row: 1/4; 
        padding-right: 40px;
        border-right: 5px solid black;
    }
    .visit-distance {
        grid-row: 3/4;
    }
    .demographics {
        grid-row: 2/3;
    }
    .form-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main.form-page {
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #686C63;
        padding: 10px;
    }
    
}