* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto Flex', sans-serif;
    max-width: 1700px;
    min-width: 325px;
    margin: 0 auto;
    background: #DFD0BF;
}

main { 
    background: #A46633;
    padding: 10px;
}

img { 
    width: 100%;
    box-shadow: 3px 3px 8px rgb(54, 54, 54);
}

/* Header */

header {
    display: grid;
    column-gap: 10px;
    align-items: center;
    padding: 20px 20px 10px 20px; 
}

header,
footer {
   background: #A46633;
   color: white;
}

header .social {
    display: flex;
    padding-top: 10px;
    gap: 8px;
}

header .social img{
    width: 30px;
}

header p {
    grid-column: 1/5;
    text-align: center;
    padding: 25px;
    background: #686C63;
    color: white;
}

header, h2, h3, h1 {
    font-family: 'Playfair Display', serif;
}

h1 {
    line-height: .6;   
    text-align: left;
}

h3 {
    text-align: center;
}

#smtitle {
    font-size: 12px;
    letter-spacing: 1px;
}

#currentDate {
    display: block;
    text-align: center;
    padding: 5px 0 5px;
    background: #686C63;
    border: 2px solid #000000;
    color: white;
}

/* nav bar */
nav {
    grid-column: 1/5
}

nav ul {
    list-style-type: none; 
}

nav ul li a {
    display: block;
    padding: .6rem 2vw;
    text-decoration: none;
    text-align: center;
    color:#fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: rgba(0, 0,0,0.75);
    border-radius: 10px;
}

#menuButton {
    grid-column: 4/5;
    padding: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

#menuButton:hover {
    color: white;
    background: black;
}

#mainNav .active {
    background-color: rgba(0, 0,0,0.45);
    border-radius: 10px;
}

#mainNav {
    background: #686C63;
}

nav ul {display: none;}
nav ul.open {display: block;}

#menuButton span:nth-child(1) {display: block;}
#menuButton span:nth-child(2) {display: none;}

#menuButton.open span:nth-child(1) {display: none;}
#menuButton.open span:nth-child(2) {display: block;}
/*--------------------*/

/* mobile layout */
.boxes {
    display: grid;
    gap: 25px;
    padding: 10px;
}

.boxes div {
    border: 4px solid #000000;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    padding: 10px;
}

.boxes p {
    text-align: center;
}

/* Hero Box */
.hero, .event, .news, .join, .weather {
    position: relative;
}

.hero-image img, .event img, .news img, .join img, .info {
    object-fit: cover;
    height: 100%;
}

div .hero-cta, div .join-cta {
    position: absolute;  
    background-color: #8c181b;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 12px;
    Font-size: 19px;
}

.hero-cta {
    bottom: 30px;
    left: 30px;
}

.hero-cta a, .join-cta a  {
    color: white;
    text-decoration: none;
}

.hero-cta:hover, .join-cta:hover {
    background-color: #000;
}

.welcome {
    font-size: 2rem;
}

/* Event Box */
h2.ads, h2.welcome, h2.box-title {
    position: absolute;
    top: 20px;
    left: 25px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    line-height: 1.7rem;;
}

.event p, .news p, .join p {
    position: absolute;
    line-height: 1;
    left: 10px;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 5px 6px;  
}

/* Weather Box */
.info {
    color: white;
    text-shadow: 2px 4px 5px black;
    background: black;
}
.weather .info {
    display: grid;   
}
#weather1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}

#weather2, #weather3 {
    padding: 10px; 
    border-top: 3px solid #ffffff; 
    font-size: 1.2rem;
}
 
/* Join Box */
.join {
    display: none;
}

.join-cta {
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -70px;
}

/* Spotlight Box */
.spotlight {
    display: grid;
    gap: 10px;
    height: 100%;
    grid-row: 5/7;   
}

h3 {
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.1rem;
}

.spotlight a{
    text-decoration: none;
    color:#000;
}

.spotlight div:nth-child(3) {
    display: none;
}

.spotlight p {
    line-height: 1.1;
    font-size: .9rem;
    padding: 7px 10px 5px;
}

.spotlight div {
    background: white;
}

/* Footer */
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
}

#bottom-logo {
    width: 125px;  
    margin-top: 10px; 
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    padding: .2rem;
}

footer img {
    max-width: 234px;
}

footer a img {
    box-shadow: none;
    width: 20px;
}

footer #lastline {
    text-align: center;
    font-size: .95rem;
    padding: 10px;
    border-top: 1px dotted black;
}

/* banner info */
#banner {
    display: none;
    text-align: center;
    background: lightblue;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-top : 5px dashed black;
    border-bottom : 5px dashed black;
    line-height: .9;
}

#close {
    padding: 2px;
    background-color: #000;
}

/* discover page */
.tgallery {
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px 4px black;
    text-align: center;
    padding: 30px 0 15px;
    font-size: 1.2rem;
}

.gallery-page {
    display: grid;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 475px;
    margin: 0 auto;
}

.gallery p {
    font-weight: bold;
    color: #fff;
    margin: 1rem;
}

.gallery img[data-src] {
	filter: blur(.6em);
}

.gallery img{
	filter: blur(0);
	transition: filter .6s;
    border: 10px double black;
}

.dem-title {
    grid-row: 1/2;
    text-align: center;
    padding-left: 20px;
}

.explore {
    border-top: 3px solid white;
    margin-top: 40px;
} 

.demographics {
    grid-row: 2/3;
}

.demographics p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-indent: 30px;
    padding: 30px;
}

.tgallery-paragraph {
    color: #fff;
}

.visit-distance {
    text-align: center;
    border: 2px solid white;
    padding-bottom: 20px;
    /* margin: 20px 0 10px 40px; */
}

/* accordion */
 .demographics .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.demographics label {
    display: block;
    padding: 20px 22px;
    font-size: 1.25rem;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #7d4b29;
    border-radius: 3px;
    color: #fff;
    transition: ease 0.5s;
    text-align: center;
}
  
/* label hover color change */
.demographics label:hover {
    background: #c89f70;
    color:#000;
}
.demographics .content {
    background: #c89f70;
    padding: 10px 25px;
    border: 1px solid #a7a7a7;
    margin: 0 0 1px 0;
    border-radius: 3px;
    text-align: center;
    color: #000;
}
  
.demographics input + label + .content {
    display: none;
}
  
.demographics input:checked + label + .content {
    display: block;
}
  
.demographics input[type="checkbox"]  {
    display: none;
}

/* form */
main.form-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #686C63;
    padding: 10px;
}
.container {
    grid-row: 1/2;
}
.container, .container2 {
    width: 100%;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
}
.container .title {
    font-size: 27px;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    background: #A46633;
}
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
}
.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box textarea {
    width: 100%;
    height: 150px;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus, .user-details .input-box textarea:focus {
    border-color:#A46633;
}
form .membership-level .membership-title {
    font-size: 20px;
    font-weight: 500;
}
form .membership-level .category {
    width: 100%;
    margin: 14px 0;
    justify-content: space-between;
}
.membership-level .category label {
    display: flex;
    align-items: center;
}
.membership-level .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one, #dot-2:checked ~ .category label .two, #dot-3:checked ~ .category label .three, #dot-4:checked ~ .category label .four {
    border-color: #d9d9d9;
    background: black;
}
form input[type="radio"] {
    display: none;
}
form .button {
    height: 45px;
    margin: 45px 0;
}
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #A46633;
}
form .button input:hover {
    background: #4b250c;
    border: .5px solid;
    cursor: pointer;
}

.container2 {
    grid-row: 2/2;
    margin-top: 5px;
}

section ul li{
    margin-left: 30px;
    margin-top: 9px;
}

.container2 h3.mem-title {
    margin-top: 14px;
    text-align: left;
}
.container2 h2 {
    margin-bottom: 20px;
}
.container2 hr {
    background-color: #A46633;
    height: 1px;
    border: none;
    margin-bottom: 3px;
}

/* thank you page */
#thanks {
    padding: 50px 0 50px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
#thanks h2 {
    position: inherit;
    margin-bottom: 20px;
    font-size: 3rem;
}

/* directory page */
#directory-title {
    text-align: center;
    color: white;
    text-shadow: 2px 2.3px black;
}

.groups {
    display: grid;
}

.groups img {
    border: none;
    box-shadow: none;
    height: 100px;
    width: auto;
}

.groups div {
    background: white;
    border: 2px solid #000000;
    text-align: center;
    padding: 20px;
	margin: 10px 5px;
    line-height: 1.4rem;
}
.grid {
    display: grid;
  }

.grid-buttons {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.grid-buttons button {
	padding: 1rem 1.3rem;
    background: #686C63;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 5px;
    color: white;
    border-radius: 5px;
}

.grid-buttons button:hover {
    background: #4b250c;
    border: .5px solid;
    cursor: pointer;
}

.grid div {
    text-align: center;
    align-items: center;
    padding: 20px;
	margin: 10px 5px;
    line-height: 1.4rem;
    border-radius: 5px;
    letter-spacing: .5px;
}

.list {
    display:block;
}

.list div {
    padding: 1rem;
    margin: .5rem;
}

.list div img {
    display: none;
}

.list div:nth-child(even) {
    background: #686C63;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid white;
}

.list div:nth-child(odd) {
    background: #ffffff;
    letter-spacing: 1px;
    border-radius: 5px;
}